version: '3'

services:
  concourse-db:
    image: postgres
    environment:
    - POSTGRES_DB=concourse
    - POSTGRES_PASSWORD=concourse_pass
    - POSTGRES_USER=concourse_user
    - PGDATA=/database

  concourse-web:
    image: concourse/concourse
    command: web
    links: [concourse-db]
    depends_on: [concourse-db]
    ports: ["8080:8080"]
    volumes: ["./keys/web:/concourse-keys"]
    environment:
    - CONCOURSE_POSTGRES_HOST=concourse-db
    - CONCOURSE_POSTGRES_USER=concourse_user
    - CONCOURSE_POSTGRES_PASSWORD=concourse_pass
    - CONCOURSE_POSTGRES_DATABASE=concourse
    - CONCOURSE_EXTERNAL_URL=${EXTERNAL_URL}
    - CONCOURSE_ADD_LOCAL_USER=${LOCAL_USER}
    - CONCOURSE_MAIN_TEAM_LOCAL_USER=${MAIN_TEAM_LOCAL_USER}
    - CONCOURSE_MAIN_TEAM_ALLOW_ALL_USERS=true
    - CONCOURSE_VAULT_URL=${VAULT_URL}
    - CONCOURSE_VAULT_PATH_PREFIX=${VAULT_PATH_PREFIX}
    - CONCOURSE_VAULT_AUTH_BACKEND=${VAULT_AUTH_BACKEND}
    - CONCOURSE_VAULT_AUTH_BACKEND_MAX_TTL=${VAULT_AUTH_BACKEND_MAX_TTL}

  concourse-worker:
    image: concourse/concourse
    command: worker
    privileged: true
    links: [concourse-web]
    depends_on: [concourse-web]
    volumes: ["./keys/worker:/concourse-keys"]
    environment:
    - CONCOURSE_TSA_HOST=concourse-web:2222
    - CONCOURSE_GARDEN_NETWORK
